body {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-size: 12px;
	background-color:#A349A4;
}
#login .container #login-row #login-column #login-box {
  margin-top: 60px;
  max-width: 600px;
  height: 320px;
  border: 1px solid #A349A4;
}
#login .container #login-row #login-column #login-box #login-form {
  padding: 20px;
}
#login
  .container
  #login-row
  #login-column
  #login-box
  #login-form
  #register-link {
  margin-top: -85px;
}
.formulario{
  background: rgb(212, 75, 75);
  margin-top: 200px;
  padding: 3px;
}